POSTGRES_PASSWORD=your_secure_postgres_password_here
JWT_SECRET=your_super_secret_jwt_key_at_least_32_characters_long
REDIS_PASSWORD=your_secure_redis_password_here
SEQ_API_KEY=your_seq_api_key_here
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
